.one{
    margin-top:80px;
    margin-left:300px ;
}
.two{
    margin-top:-225px;
    margin-left:600px;
}
.three{
    margin-top:-220px;
    margin-left:900px;
}
.four{
    margin-top:50px;
    margin-left:300px;
}
.five{
    margin-top:-225px;
    margin-left: 600px;
}
.six{
    margin-top:-227px;
    margin-left:900px;
} 